.header-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  transition: all 100ms;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  -o-transition: all 100ms;
//   background-color: var(--header-background-color);

  &.transparent {
    // background-color: var(--header-tranparent-background-color);
    backdrop-filter: blur(5px);
  }

  nav {
    height: 100%;
    ul {
      margin: 0 0 0 5rem;
      padding: 0;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
      list-style: none;
      color: #99f7ab;
      font-family: Libre Franklin;
      font-size: 19px;
      font-weight: 500;

      li {
        cursor: pointer;
        transition: all 100ms;
        -webkit-transition: all 100ms;
        -moz-transition: all 100ms;
        -ms-transition: all 100ms;
        -o-transition: all 100ms;

        &:hover {
          scale: 1.03;
        }

        &:active {
            filter: contrast(200%);
            -webkit-filter: contrast(200%);
}
      }
    }
  }
}

