<app-header></app-header>
<div class="main-page-container">
  <section class="main-page-main-section">
    <div>
      <p>
        F<span [@fadeInOut]>ull</span>S<span [@fadeInOut]>tack</span> W<span
          [@fadeInOut]
          >eb</span
        >
        D<span [@fadeInOut]>eveloper</span>
      </p>
      <p [@fadeInOut]>(Entre otras cosas)</p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione labore
        quos repellat? Sed accusantium veniam eos rerum inventore magnam
        obcaecati ut architecto voluptatibus voluptatem? Quam suscipit quasi hic
        voluptatem dolores. Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit
        amet consectetur adipisicing elit. Non commodi quidem soluta illo culpa
        ipsam atque veritatis distinctio, eius porro perspiciatis natus,
        repellat adipisci labore voluptas nesciunt veniam? Minus, optio.
      </p>
    </div>
    <div>
      <img
        style="border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%"
        src="assets\imagePlaceHolder.jpg"
        alt="foto placeholder con nina"
        height="700"
        width="1000"
      />
    </div>
  </section>
</div>
<app-footer></app-footer>
